.card {
    width: 250;
    height: 250px;
    float: left;
    margin: 20px;
    cursor: pointer;
    box-shadow: 5px 10px;
}

.card:hover{
    transform: scale(1.6);
    transition: .5s ease-in-out;
}